.Card {
  /* width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-right: 20px;
  overflow: hidden; */
  background-color: #FFDDD2;
  border-radius: 7px;
  padding: 1%;
  margin: 1%;
  width: 100%;
  text-align: center;
}

.CardList {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between;  */
  display: flex;
  align-items: center;
  color: #14213D;
}